.price-display {
  text-align: center;
  background-color: #364658;
  color: #FB8B24;
  min-height: 120px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
  padding-top: 20px;
}
