.navbar-custom {
  background-color: #364658;
}

.navbar-brand {
  color: #E36414;
  font-weight: bold;
}

.nav-link {
  color: #FB8B24;
}

.navbar-brand:hover, .nav-link:hover {
  color: #ADA8B6;
}

.navbar-custom .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-outline {
  color: #ADA8B6;
  border-color: #ADA8B6;
}

.btn-outline:hover {
  color: #364658;
  background-color: #FB8B24;
  border-color: #FB8B24;
}
